*{
	box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #fff;
}

button{
	border: none;
	outline: none;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #102746;
	font-weight: 400;
}

.container-header{
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.container-content{
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-max{
	max-width: 1440px;
}

.header{
	background-image: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%) ,url(../images/header-bg.jpg);
	height: 100vh;
}

.header-top{
	display: flex;
	justify-content: space-between;
	padding-top: 56px;
	margin-bottom: 176px;
	
}

.header-top__nav{
	position: absolute;
	right: 0;
}

.header-top__nav ul{
	display: flex;
	justify-content: flex-end;
}

.header-top__nav li:not(:last-child) {
	margin-right: 82px;
}

.header-top__menu{
	display: none;
}

.header__title{
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	max-width: 620px;
	margin-bottom: 22px;
}

.header__text{
	color: #FFFFFF;
	display: block;
	max-width: 550px;
	margin-bottom: 59px;

}

.header__search{
	max-width: 900px;
	display: flex;
	justify-content: space-between;
}

.header-input{
	display: flex;
	align-items: center;
	border-bottom: 2px solid #BFC0C5;
}

.header-input::before{
	content: "";
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	margin-right: 22px;
}

.header-input__int{
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	color: #fff;
	padding-right: 5px;
	width: 260px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.header-input__int::placeholder{
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 20px;
}

.header__btn{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	padding: 15px 39px;
	background: #1B7DFF;
	cursor: pointer;
	transition: all .2s; 
}

.header__btn:hover{
	background: #0313fc;
}

.benefits{
	max-width: 1262px;
	background: #FFFFFF;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	margin: 40px auto;
	left: 0;
	right: 0;
	display: block;
}

.benefits__title{
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding-top: 90px;
	margin-bottom: 120px;
}

.benefits-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.benefits-item{
	margin-bottom: 112px;
}

.benefits-item:not(:last-child){
	margin-right: 55px;
}

.benefits-item__image{
	margin-bottom: 37px;
	width: 55px;
	height: 55px;
}

.benefits-item__title{
	font-weight: 500;
	color: #000;
	margin-bottom: 26px;
}

.benefits-item__text{
	color: #000;
	margin-bottom: 39px;
}

.link__arrow{
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding-right: 59px;
	background: url(../images/Shape.svg) no-repeat 95% center;
	transition: all .2s;
	color: #006DFE;
}

.link__arrow:hover, 
.link__arrow:focus{
	background: url(../images/Shape.svg) no-repeat right center;
}

.inspired-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
	align-items: center;
}

.section__title{
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	position: relative;
	padding-bottom: 10px;
}

.section__title::after{
	content: "";
	display: block;
	width: 253px;
	height: 3px;
	background-color: #006DFE;
	position: absolute;
	bottom: 0;
	left: 0;
}

.inspired{
	margin-bottom: 131px;
}

.inspired-top__link{
	color: #006DFE;
}

.inspired-items{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}

.inspired-item{
	position: relative;
	overflow: hidden;
}

.inspired-item::after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(21, 24, 36, 0.4);
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.inspired-item:hover .inspired-item__image{
	transform: scale(1.05);
}

.inspired-item__image-size_lg{
	grid-column: span 3;
	height: 100%;
}

.inspired-item__image_lg{
	height: 354px;
}

.inspired-item__image-size_sm{
	grid-column: span 2;
	height: 100%;
}

.inspired-item__image_sm{
	width: 283px;
}

.inspired-item__image{
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: all .15s;
}

.inspired-item__text{
	color: #fff;
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	z-index: 3;
	position: absolute;
	bottom: 27px;
	left: 29px;
}

.inspired-item__link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.content-item{
	display: flex;
	margin-bottom: 77px;
	justify-content: space-between;
}

.content-item__revers{
	flex-direction: row-reverse;
}

.content-item__descr{
	max-width: 520px;
}

.content-item__descr-title{
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 85px;
}

.content-item__descr-text{
	margin-bottom: 58px;
}

.places__title{
	margin-bottom: 55px;
}

.places-items{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 55px;
	margin-bottom: 144px;
}

.places-item{
	grid-column: span 1;
}

.places-item__image-wrapper{
	margin-bottom: 45px;
	position: relative;
	overflow: hidden;
	max-height: 369px;
}

 .places-item__image{
 	transition: all 0.15s;
 	object-fit: cover;
 	width: 100%;
 	height: 100%;
 }

.places-item__image:hover{
	transform: scale(1.05);
}

.places-item__image-footer{
	display: flex;
	justify-content: space-between;
	color: #fff;
	background: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.places-item__image-footer-like{
	padding-right: 19px;
	margin-right: 14px;
}

.places-item__image-footer-like::after{
	content: "";
	background-image: url(../images/places/like.svg);
	position: absolute;
	width: 16px;
	height: 15px;
	margin-left: 4px;
	bottom: 20px;
}

.places-item__image-footer-com{
	padding-right: 19px;
}

.places-item__image-footer-com::after{
	content: "";
	background: url(../images/places/com.svg);
	position: absolute;
	width: 14px;
	height: 14px;
	margin-left: 9px;
	bottom: 20px;
}

.places-item__text{
	margin-bottom: 31px;
}

.places-item__button{
	line-height: 19px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 12px 19px;
	background: #006DFE;
	cursor: pointer;
}

.video{
	width: 100%;
}

.video-wrapper{
	position: relative;

}

.video-item{
	padding-top: 56.25%;

}

.video-element{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.footer__logo-item{
	width: 170px;
	height: 64px;
}

.footer{
	background: #0E1D28;
}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-items{
	max-width: 555px;
	display: flex;
	padding: 119px 0;
}

.footer-item li{
	margin-top: 3px;
}

.footer-item:not(:last-child){
	margin-right: 140px;
}

.footer-item__company-title{
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
}



@media(min-height: 1024px){
	.header{
		height: 1024px;
	}
}

@media(max-height: 700px){
	.header{
		height: 700px;
	}
}



@media(max-width: 1300px){
	.benefits{
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media(max-width: 1260px){
	.places-item__image-footer{
		bottom: 6px;
	}
}

@media(max-width: 1160px){
	.content-item__image-img{
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media(max-width: 1040px){
	.inspired-item__text {
	    font-size: 40px;
	    line-height: 50px;
	    bottom: 15px;
	    left: 17px;
	}

	.content-item__descr-title{
		margin-bottom: 45px;
		font-size: 25px;
    	line-height: 30px;
	}

	.content-item__descr-text{
    	margin-bottom: 40px;
	}

	.places-items{
		grid-gap: 20px;
	} 
}

@media(max-width: 940px){
	.content-item__image-img {
    	width: 450px
    }

    .content-item__descr-title {
    	margin-bottom: 25px;
    }

    .content-item__descr-text {
    	margin-bottom: 30px;
	}

	.places-item__image-wrapper {
    	margin-bottom: 25px;
    }

    .footer-item:not(:last-child) {
	    margin-right: 100px;
	}
}

@media(max-width:840px){
	.header__title {
	    font-size: 40px;
	    line-height: 45px;
    }

    .header__text{
    	max-width: 500px;
    }

    .header__btn{
    	font-size: 18px;
	    line-height: 24px;
	    padding: 10px 24px;
    }

    .header-input__int::placeholder{
		font-size: 15px;
	}

	.header-input::before {
	    content: "";
	    width: 16px;
	    height: 16px;
	}

	.header-input__int{
		width: 205px;
	}

	.benefits__title {
    	padding-top: 40px;
    	margin-bottom: 60px;
	}

	.benefits-item{
		margin-bottom: 50px;
	}

	.benefits-item:not(:last-child) {
    	margin-right: 20px;
	}

	.content-item__descr-title {
	    margin-bottom: 15px;
	    font-size: 20px;
	    line-height: 25px;
	}

	.content-item__descr-text {
    	margin-bottom: 20px;
	}

	.places-items {
	    margin-bottom: 60px;
	}

	.footer-item:not(:last-child) {
	    margin-right: 70px;
	}
}

@media(max-width: 770px){
	.benefits__title {
    	padding-top: 20px;
    	margin-bottom: 35px;
	}

	.benefits-item {
    	margin-bottom: 30px;
	}

	.benefits-item__image {
    	margin-bottom: 14px;
	}

	.benefits-item__title {
    	font-size: 15px;
    	margin-bottom: 15px;
	}

	.benefits-item__text {
    	font-size: 14px;
    	margin-bottom: 25px;
    }

    .inspired-item__text {
	    font-size: 30px;
	    line-height: 30px;
	    bottom: 10px;
	    left: 10px;
	}

	.places-items {
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	}
}

@media(max-width: 740px){
	.content-item{
		flex-wrap: wrap;
    	justify-content: center;
    	text-align: center;
	}

	.content-item__image-img{
		margin: 0 0 20px 0;
		width: 100%;
	}

	.footer-item:not(:last-child) {
	    margin-right: 55px;
	}
}

@media(max-width: 700px){
	.benefits-items{
	    flex-wrap: wrap;
	    text-align: center;
	    justify-content: center;
	}

	.benefits-item {
    	max-width:300px;
    	margin-bottom: 30px ;
	}

	.benefits-item:not(:last-child) {
    	margin-right: 0;
	}

	.benefits__title {
    	padding-top: 30px;
    	margin-bottom: 50px;
	}

	.footer__logo-item {
    	width: 100px;
    }
}

@media(max-width: 680px){
	.header-top{
		margin-bottom: 120px;
	}

	.header__search{
		display: block;
	}

	.header-input{
		margin-bottom: 70px;
	}

	.header__btn{
		position: absolute;
		right: 0;
		margin-right: 15px;
	}

	.header-input__int::placeholder{
		font-size: 20px;
	}

	.header-input__int{
		min-width: 265px;
	}

	.section__title {
	    font-size: 30px;
	    line-height: 35px;
	    padding-bottom: 7px;
	}

	.places-item__button{
		margin-bottom: 15px;
	}
}

@media(max-width: 640px){
	.header__title {
	    font-size: 30px;
	    line-height: 35px;
	}

	.header__text{
		max-width: 400px;
	}

	.header-top{
		padding-top: 30px;
	}

	.header-top__nav{
		display: none;
	}

	.header-btn{
		height: 60px;
		width: 60px;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.header-btn div{
		width: 36px;
		height: 2px;
		background-color: #fff;
		margin: 5px 0;
	}

	.header-top__menu{
		display: block;
		background-color: #000;
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		transition: all .5s;
		z-index: 7;
		height: 100vh;
		
	}

	.header-top__menu.active{
		left: 0;
	}

	.close-btn{
		position: absolute;
		height: 50px;
		width: 50px;
		top: 30px;
		cursor: pointer;
		right: 15px;
		z-index: 8;
	}

	.close-btn::after,
	.close-btn::before{
		content: "";
		width: 70px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		transform-origin: left;
	}

	.close-btn::after{
		transform: rotate(45deg);
	}

	.close-btn::before{
		transform: rotate(-45deg);
		bottom: -1px;
	}

	.header-top__menu-list{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 15px;
	}

	.header-top__menu-list a {
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		padding: 30px 25px 14px 0;
		border-bottom: 3px solid #B70021;
		display: inline-block;
		min-width: 370px;
		transition: all .5s;
	}

	.header-top__menu a:hover{
		border-color: #fff;
		color: #B70021;
		transform: scale(1.2);
		margin-left: 37px;
	}

	.inspired-items {
	    grid-template-columns: repeat(3, 1fr);
	}

	.inspired-item__image-size_sm {
    	grid-column: span 3;
    }

    .inspired-item__text {
	    font-size: 40px;
	    line-height: 50px;
	    bottom: 25px;
	    left: 27px;
	}

	.inspired-top{
		margin-bottom: 25px;
	}

	.section__title {
	    font-size: 25px;
	    line-height: 30px;
	}

	.link__arrow{
		font-size: 14px;
	}

	.places-item__image-wrapper {
	    margin-bottom: 15px;
	}
	
	.places-item__text {
	    margin-bottom: 20px;
	} 
}

@media(max-width: 540px){
	.header__title{
		max-width: 400px;
	}

	.header__text{
		font-size: 14px;
    	line-height: 20px;
    	max-width: 300px;
	}

	.header-top{
		margin-bottom: 30px;
		padding-top: 20px;
	}

	.header-top__menu-list a {
	    font-size: 38px;
	    line-height: 40px;
	    padding-top: 20px;
	    min-width: 200px;
	}

	.header-top__menu-list {
    	top: 45%;
    }

    .header-input__int {
    	min-width: 240px;
	}

	.close-btn{
		top: 20px;
	}

	.header-input__int::placeholder{
		font-size: 18px;
	}

	.header__text {
	    font-size: 13px;
	    line-height: 17px;
	    max-width: 200px;
	}

	.header__title {
	    font-size: 24px;
	    line-height: 30px;
	}

	.header-input {
    	margin-bottom: 45px;
    }

    .benefits__title {
    	font-weight: 500;
    	font-size: 30px;
    	line-height: 35px;
 	}

 	.inspired{
 		margin-bottom: 80px;
 	}

 	.inspired-top__link{
 		min-width: 125px;
 		margin-left: 7px;
 	}

 	.section__title::after {
	    width: 200px;
	}

	.content-item{
		margin-bottom: 40px;
	}

	.places-items {
    	grid-template-columns: repeat(1, 1fr);
    }

    .places-item__image-footer{
    	bottom: 0;
    }

    .places-item__button {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	.places-item__text{
		text-align: center;
	}

	.footer__wrapper{
		display: block;
	}

	.footer__logo-item {
		margin: 0 auto -10px;
		padding-top: 10px;
	}

	.footer-items{
		justify-content: center;
		padding: 30px 0;
	}

	.footer-item:not(:last-child) {
	    margin-right: 50px;
	}
}

@media(max-width: 440px){
	.inspired-item__text {
	    font-size: 35px;
	    line-height: 40px;
	    bottom: 20px;
	    left: 22px;
	}
	.section__title::after {
	    width: 140px;
	}

	.places-items {
	    margin-bottom: 30px;
	}

	.places-item__text {
	    margin-bottom: 15px;
	}

	.places-item__button {
	    margin-bottom: 5px;
	}

	.footer-items{
		flex-wrap: wrap;
	}

	.footer-item{
		width: 250px;
		text-align: center;
		margin-bottom: 15px;
	}

	.footer-item li {
	    margin-top: 1px;
	}

	.footer-item:not(:last-child) {
	    margin-right: 0;
	}
}

@media(max-width: 400px){
	.places-item__image-footer {
	    bottom: 6px;
	}
}

    @media(max-width: 340px){
    .section__title {
	    font-size: 18px;
	    line-height: 22px;
	}

	.inspired-item__text {
	    font-size: 27px;
	    line-height: 30px;
	    bottom: 15px;
	    left: 17px;
	}

	.inspired-top{
		margin-bottom: 20px;
	}
}
















































.